
@{
	ViewBag.Title = "Admin";
}

<h3><b>Makale Ekle</b></h3>
@{
	Html.RenderAction("AdminYazarMakaleEkle", "Makale");
}


<h3><b>Yazar Ekle</b></h3>
@{
	Html.RenderAction("AdminYazarEkle", "Yazar");
}


<h3><b>Kullanıcı Ekle</b></h3>

@{
	Html.RenderAction("AdminKullaniciEkle", "Kullanici");
}


@*<h3><b>Makale Sil</b></h3>
@{
	Html.RenderAction("MakaleSil", "Admin");
}

<h3><b>Makale Güncelle</b></h3>
@{
	Html.RenderAction("MakaleGuncelle", "Admin");
}*@
